In [7]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(1001212251)

In [9]:
df = pd.DataFrame([[15,12,101],
                   [np.nan, 46 , 203],
                   [np.nan, 205,565]], columns=['A', 'B', 'C'])
df

      A    B    C
0  15.0   12  101
1   NaN   46  203
2   NaN  205  565