In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(1001212251)

In [2]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['C1','C2','C3','C4'])

In [3]:
df[['C1', 'C2']]
df['C_5'] =round( (df['C1'] * 100 * df['C2']) )
df

         C1        C2        C3        C4    C_5
A -0.573750 -1.015220  0.124927 -1.076985   58.0
B  0.542709  0.436389  0.255928  1.051840   24.0
C -1.361894  0.817845 -0.028124 -0.552100 -111.0
D  0.828564 -0.753592  0.488939  0.752895  -62.0
E -0.530740 -0.151992 -1.364311 -0.660837    8.0

In [11]:
df['C2'] - df['C3'] - 100

A   -101.140146
B    -99.819539
C    -99.154031
D   -101.242531
E    -98.787681
dtype: float64